

Praticas/TP2/hero/.idea/

Praticas/TP2/hero/.gradle/

*.hprof
out/
.idea/
.gradle/
build/
*.iml

Projeto/ColorParty/.gradle/
Projeto/ColorParty/build/
Projeto/ColorParty/out/
Projeto/ColorParty/.output/
Projeto/ColorParty/.classpath
Projeto/ColorParty/.project
Projeto/ColorParty/.settings/
Projeto/ColorParty/bin/
